    <%- include('../layouts/head.ejs') %>
<style>
    main {
    margin: 1rem;
    }

    .card{
        margin: 1rem;
        width: 20rem;
    }

    .card-text{
        height: 150px;
        overflow: hidden;
    }

</style>

</head>
<body>
    <%- include('../layouts/navbar.ejs') %>
    <main>
        <div class="card bg-light mb-3" id="card">
            <img src="https://www.insidehighered.com/sites/default/server_files/media/breaking%20down%20journal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=articales.title%></h5>
              <p class="card-text"><%=articales.content%></p>
              <p><span style="font-weight: bold;">created at: </span><%=articales.created_at%></p>
              <a href="/<%=articales.id%>/<%=lang%>" class="btn btn-primary">Go Article</a>
            </div>
          </div>
    </main>
    
<%- include('../layouts/footer.ejs') %>